{% extends 'base.html' %}
{% block main_content %}

    <section id="change_picture_box">
        <form enctype=multipart/form-data class="pixel_border" id="change_picture" method="post" novalidate action="">
            <h2>Select A Profile Picture</h2>
            <section id="picture_selection_box">
                {{ formTwo.selected_picture(id="selected_img" )}}
                <section id="picture_selection">
                    <section class="select_img"  onclick="showTick(this,'{{avatar}}')">
                    <img class="profile_img" src="{{ url_for('static',filename='pfp/' + session['profile_picture'])}}"></img>
                    <img class="tick" id="first_img" src="{{ url_for('static',filename='accept.png')}}"></img>
                    </section>
                    {% for img in images %}
                    <section class="select_img" onclick='showTick(this, "{{img}}")'>
                    <img class="profile_img" src="{{ url_for('static',filename='pfp/' + img)}}"></img>
                    <img class="tick" src="{{ url_for('static',filename='accept.png')}}"></img>
                    </section>
                    {% endfor %}
                    
         
                   
                </section>
                
                <section class="buttons">
                    {{ formTwo.submitTwo() }}
                </section>
               
            </section>
             <p>Or</p>
                 <section id="upload_picture">
                    <h2>Upload Picture</h2>
                    <img class="profile_img" id="upload_img" src="{{ url_for('static',filename='image_icon.png')}}"></img>
                    <br>
                    <input type=file name=file id="image_upload_input">
                </section>
                <!-- <section id="selected_picture">
                    <h2>Selected Picture</h2>
                    <img class="profile_img" src="{{ url_for('static',filename='logo.jpg')}}"></img>
                </section> -->
                <section class="buttons">
                    {{ formThree.upload() }}
                </section>
                <section class="buttons">
                    <span id="cancelTwo" onClick="closeEdit()">Cancel</span>
                </section>
        </form>
    </section>


        

    <section id="account_settings">
        <h1>Account Settings</h1>

        <form method="post" class="pixel_border" id="profile_settings" action="" novalidate >
            {{ form.hidden_tag() }}
            <section id="profile_picture">
                <h2>Profile Picture</h2>
                <img id="profile_picture"class="profile_img" src="{{ url_for('static',filename='pfp/' + session['profile_picture'])}}"></img>
                <br>
                <a href="#" id="edit_picture" onclick="openEdit()">Edit Picture</a>
            </section>
            <section>
                <h2 id="label"> {{ form.user_id.label }} </h2>

                {{ form.user_id() }}

                {% for error in form.user_id.errors %}
                <br>
                {{ error }}
                {% endfor %}

            </section>

            <section>
                <h2 id="label"> Change Password: </h2>

                <section class="passwords">
                    {{ form.old_password.label}}
                    {{ form.old_password() }}

                    
                </section>
                
                    {% for error in form.old_password.errors %}
                    <br>
                    {{ error }}
                    <br>
                    {% endfor %}
                <br>
                <section class="passwords">
                    {{ form.new_password.label}}
                    {{ form.new_password() }}

                    {% for error in form.new_password.errors %}
                    {{ error }}
                    {% endfor %}
                </section>

                <br>


            </section>

            <h2><a href="{{ url_for('delete_account') }}">Delete Your Account</a></h2>
            <section class="buttons">
                {{ form.cancel() }}
                {{ form.submit() }}
            </section>

        </form>
    </section>
{% endblock %}