<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
    <script src="{{ url_for('static', filename='account_settings.js') }}"></script>
    {% if scripts %}
    {% for script in scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}
    {% endif %}
</head>

<body>
    <section id="change_picture_box">
        <form enctype=multipart/form-data class="pixel_border" id="change_picture" method="post" novalidate action="">
            <h2>Select A Profile Picture</h2>
            <section id="picture_selection_box">
                {{ formTwo.selected_picture(id="selected_img" )}}
                <section id="picture_selection">
                    <section class="select_img"  onclick="showTick(this,'{{avatar}}')">
                    <img class="profile_img" src="{{ url_for('static',filename=session['profile_picture'])}}"></img>
                    <img class="tick" id="first_img" src="{{ url_for('static',filename='accept.png')}}"></img>
                    </section>
                    {% for img in images %}
                    <section class="select_img" onclick='showTick(this, "{{img}}")'>
                    <img class="profile_img" src="{{ url_for('static',filename=img)}}"></img>
                    <img class="tick" src="{{ url_for('static',filename='accept.png')}}"></img>
                    </section>
                    {% endfor %}
                    
         
                   
                </section>
               
               
            </section>
             <p>Or</p>
                 <section id="upload_picture">
                    <h2>Upload Picture</h2>
                    <img class="profile_img" id="upload_img" src="{{ url_for('static',filename='image_icon.png')}}"></img>
                    <br>
                    <input type=file name=file>
                    <br>
                    {{ formThree.upload}}
                </section>
                <!-- <section id="selected_picture">
                    <h2>Selected Picture</h2>
                    <img class="profile_img" src="{{ url_for('static',filename='logo.jpg')}}"></img>
                </section> -->
                <section class="buttons">
                    {{ formTwo.cancelTwo() }}
                {{ formTwo.submitTwo() }}
                
                </section>
        </form>
    </section>

    </section>

    <header class="header">
        <nav class="nav_bar">
            <a id="account_button" href="{{ url_for('account_settings')}}">
                <img id="account_img" src="{{ url_for('static',filename=session['profile_picture'])}}"></img>
                <p class="pixel_border" id="account_name"> {{ session["username"] }}</p>
            </a>
            <a class="pixel_border reg_nav" id="inbox_button" href="{{ url_for('inbox')}}">Inbox</a>
            <a class="pixel_border reg_nav" id="home_button" href="{{ url_for('main')}}">Home</a>
            <a class="pixel_border reg_nav" href="{{ url_for('logout') }}">Log Out</a>
            <a class="pixel_border reg_nav" id="settings" onclick="openSettings()" href="#">Settings</a>
        </nav>
    </header>

    <main class="base_content">
        

        <section id="account_settings">
            <h1>Account Settings</h1>

            <form method="post" class="pixel_border" id="profile_settings" action="" novalidate >
                {{ form.hidden_tag() }}
                <section id="profile_picture">
                    <h2>Profile Picture</h2>
                    <img id="profile_picture"class="profile_img" src="{{ url_for('static',filename=session['profile_picture'])}}"></img>
                    <a href="#" id="edit_picture" onclick="openEdit()">Edit Picture</a>
                </section>
                <section>
                    <h2 id="label"> {{ form.user_id.label }} </h2>

                    {{ form.user_id() }}

                    {% for error in form.user_id.errors %}
                    <br>
                    {{ error }}
                    {% endfor %}

                </section>

                <section>
                    <h2 id="label"> Change Password: </h2>

                    <section class="passwords">
                        {{ form.old_password.label}}
                        {{ form.old_password() }}

                        
                    </section>
                    
                        {% for error in form.old_password.errors %}
                        <br>
                        {{ error }}
                        <br>
                        {% endfor %}
                    <br>
                    <section class="passwords">
                        {{ form.new_password.label}}
                        {{ form.new_password() }}

                        {% for error in form.new_password.errors %}
                        {{ error }}
                        {% endfor %}
                    </section>

                    <br>


                </section>

                <h2>Delete Your Account</h2>
                <section class="buttons">
                    {{ form.cancel() }}
                    {{ form.submit() }}
                </section>

            </form>






            {% block main_content %}
            {% endblock %}
    </main>
    <section id="settings_box">
        <section class="pixel_border " id="settings_content">
            <h2>Settings</h2>
            <p class="pixel_border ">Music</p>
            <p class="pixel_border ">Sound</p>
            <a class="pixel_border" href="/" class="settings_button">Account</a>
            <a class="pixel_border" href="/" class="settings_button">Tutorial</a>

        </section>
    </section>

</body>

</html>