{% extends 'base.html' %}
{% block main_content %}

<section class="pixel_border" id="attribution">
    <h1>Attribution</h1>

    <ul>
        <li><a href="https://opengameart.org/content/jazz-solo-game-over">Game Loss Music - Zander Noriega</a></li>
        <li><a href="https://pixelcorners.lukeb.co.uk/?radius=8&multiplier=4 ">Pixelated CSS Borders</a></li>
        <li><a href="https://www.flaticon.com/free-icons/settings"">Settings icons created by Pixel perfect - Flaticon</a></li>
        <li><a href="https://thevalleyofcode.com/lesson/css-animations/rotate-image/">CSS Rotate Image</a></li>
        <li><a href="https://www.flaticon.com/free-icons/logout" title="logout icons">Logout icons created by Pixel perfect - Flaticon</a></li>
        <li><a href="https://www.freepik.com/icon/headphones_12065460">Headphones Icon</a></li>
        <li><a href="https://www.freepik.com/icon/music_12065345">Music Icon</a></li>
        <li><a href="https://www.freepik.com/free-vector/four-suits-glyph-style_148767979.htm#fromView=keyword&page=1&position=0&uuid=15833418-1de5-4c97-9b36-de7381ed7611">Blackjack Favicon</a></li>
    </ul>
</section>

{% endblock %}