<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    </head>
    <body>
        <header class ="header">
            
            
            <nav class = "nav_bar">
            {% if g.user == None %}
            <a href="{{ url_for('log_in') }}">Log In</a>
            <a href="{{ url_for('sign_up') }}">Sign Up</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% endif %}
            <a id ="settings" onclick = "openSettings()" href="#">Settings</a>
            </nav>
        </header>

        <main class = "base_content">
            <section id = "settings_box">
                <section id = "settings_content">
                    <h2>Settings</h2>
                    <p>Music</p>
                    <p>Sound</p>
                </section>
            </section>
            

            {% block main_content %}
            {% endblock %} 
            

            {%block register %}
            {% endblock %}
        </main>

        <script>
            function openSettings(){
                document.getElementById("settings_box").style.display = "flex"
                document.getElementById("settings").onclick=closeSetting
            }

            function closeSettings(){
                document.getElementById("settings_box").style.display = "none"
                document.getElementById("settings").onclick=openSetting
            }
        </script>
    </body>
</html>