<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <script src="{{ url_for('static', filename='settings.js') }}"></script>
        {% if scripts %}
            {% for script in scripts %}
                <script src="{{ script }}"></script>
            {% endfor %}
        {% endif %}
    </head>
    <body>
        {% include "nav_bar.html" %}

        <main class = "base_content">
            <section id = "settings_box">
                <section class = "pixel_border" id = "settings_content">
                    <h2>Settings</h2>
                    <p class="pixel_border">Music</p>
                    <p class="pixel_border">Sound</p>
                    <a class="pixel_border" href="/" class="settings_button">Account</a>
                    <a class="pixel_border" href="/" class="settings_button">Tutorial</a>
                    
                </section>
            </section>
            

            {% block main_content %}
            {% endblock %}
        </main>

        
    </body>
</html>