{% extends 'base.html' %}
{% block register %}
<h1 id="game_title">Available Classic Games</h1>

    
<section id="game_search">
<h2 >Search Game:</h2>
<p>{{ form.game_title}}</p>
<p>{{ form.submit}}</p>
<a href=# id="create">Create Game</a>
</section>
<section id ="classic_box">
<section id = "classic_games">


{% for i in range(length) %}
<section id ="game_entry">
<p>Game ID: {{games[i][0]}} </p>
<p>{{games[i][1]}} </p>
<p>Players: {{games[i][7]}}/4</p>
<a href="{{ url_for('play',game_id= games[i][0] )}}">Join Game</a>

</section>
{% endfor %}

</section>
</section>



{% endblock %}