{% extends 'base.html' %}
{% block main_content %}
<h1 id="game_title">Available Classic Games</h1>

    
<section id="game_search">
<h2 >Search Game:</h2>
<p>{{ form.game_title}}</p>
<p>{{ form.submit}}</p>
<a href=# id="create">Create Game</a>
</section>
<section id ="classic_box">
<section id = "classic_games">


{% for game in games %}
<section id ="game_entry">
<p>Game ID: {{game["game_id"]}} </p>
<p>{{game["name"]}} </p>
<p>Players: {{game["player_count"]}}/4</p>
<a href="{{ url_for('play',game_id=game['game_id'] )}}">Join Game</a>

</section>
{% endfor %}

</section>
</section>



{% endblock %}