{% extends 'base.html' %}
{% block main_content %}


<section>

    <form action="" id="game_creation" method="post" novalidate>
        <h1> Create Game </h1>

        {{ form.hidden_tag() }}

        <p id="label">{{ form.visibility.label }}</p>

        <p>
            {{ form.visibility() }}

            {% for error in form.visibility.errors %}
            {{ error }}
            {% endfor %}
        </p>

        <p id="label">{{ form.game_mode.label }}</p>

        <p>
            {{ form.game_mode() }}
            {% for error in form.game_mode.errors %}
            {{ error }}
            {% endfor %}
        </p>

        <p id="label">{{ form.invites.label }}</p>

        {% for invite in form.invites %}
            {{ invite() }}
        {% endfor %}

        <p>
            {% for error in form.invites.errors %}
                {{ error }}
            {% endfor %}
        </p>

        <p id="label">{{ form.invite_message.label }}</p>

        
        {{ form.invite_message() }}
        {% for error in form.invite_message.errors %}
        {{ error }}
        {% endfor %}

        <p>
            {{ form.submit() }}
        </p>

    </form>

</section>
{% endblock %}