{% extends 'base.html' %}
{% block main_content %}
<h1 id="game_title">Available Games</h1>

    
<section id="game_search">


  <legend>Game Mode</legend>

  <div>
    <input type="radio" id="all" name="filter" value="all" checked onchange="filterChange();" />
    <label for="all">All</label>
  </div>

  <div>
    <input type="radio" id="classic" name="filter" value="classic" onchange="filterChange();" />
    <label for="classic">Classic</label>
  </div>

  <div>
    <input type="radio" id="modified" name="filter" value="modified" onchange="filterChange();" />
    <label for="modified">Modified</label>
  </div>


</section>

<section id = "games_box">
    <section id="game_headers"><p>Game ID</p>
    <p>Host</p>
    <p>Mode</p>
    <p>Players</p>
    <p></p>
   

  </section>
<section id = "games_list">

{% for game in games %}

{% include "game_entry.html" %}

{% endfor %}

</section>
</section>



{% endblock %}