<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='title_screen.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <script src="{{ url_for('static', filename='settings.js') }}"></script>
        <script src="{{ url_for('static', filename='title_screen.js') }}"></script>
    </head>
    <body>
        <canvas height="695" width="1536"></canvas>
        <img class="rotate1" src="{{ url_for('static', filename='card_spiral.png')}}" width="550" height="550">
        <img class="rotate2" src="{{ url_for('static', filename='card_spiral.png')}}" width="550" height="550">
        <img class="rotate3" src="{{ url_for('static', filename='card_spiral.png')}}" width="550" height="550">
        <img class="rotate4" src="{{ url_for('static', filename='card_spiral.png')}}" width="550" height="550">
        
        {% include "nav_bar.html" %}

        <main class = "base_content">

            <section id = "settings_box">
                <section class="pixel_border"  id = "settings_content">
                    <h2 >Settings</h2>
                    <p class="pixel_border" >Music</p>
                    <p class="pixel_border">Sound</p>
                     <a class="pixel_border" href="/" class="settings_button">Account</a>
                    <a class="pixel_border" href="/" class="settings_button">Tutorial</a>
                </section>
            </section>
            

            <a class = "logo" href="/"><img src="{{ url_for('static', filename='bjf logo.png')}}"></a>
            <section class = "modes">
                <a class="pixel_border" href="{{ url_for('create') }}">Create Game</a>
                <a class="pixel_border" href="{{ url_for('games') }}">Find Game</a>
                <a class="pixel_border" href="{{ url_for('enter_code') }}">Enter Code</a>
            </section>
            
        </main>
    </body>
</html>