<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='title_screen.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
    <script src="{{ url_for('static', filename='title_screen.js') }}"></script>
</head>

<body>
    <canvas height="695" width="1536"></canvas>
    <img class="rotate1" src="{{ url_for('static', filename='card_spiral.png')}}" width="550" height="550">
    <img class="rotate2" src="{{ url_for('static', filename='card_spiral.png')}}" width="550" height="550">
    <img class="rotate3" src="{{ url_for('static', filename='card_spiral.png')}}" width="550" height="550">
    <img class="rotate4" src="{{ url_for('static', filename='card_spiral.png')}}" width="550" height="550">

    {% include "nav_bar.html" %}

    <main class="base_content">

        <section id="settings_box">
            <section class="pixel_border" id="settings_content">
                <img onclick="closeSettings()" id="close_settings"
                    src="{{ url_for('static', filename='close_button.png')}}">
                <h2>Settings</h2>
                <section class="pixel_border audio">
                    <section class="audio_label">
                        <p>Music</p>
                        <img src="{{ url_for('static', filename='music_note2.png')}}"></img>
                    </section>
                    <section class="audio_select">
                        <button id="music_on" class="active" onclick="musicOn()">On</button>
                        <button id="music_off" onclick="musicOff()">Off</button>
                    </section>
                </section>
                <section class="pixel_border audio">
                    <section class="audio_label">
                        <p>Sound</p>
                        <img src="{{ url_for('static', filename='headphones.png')}}"></img>
                    </section>
                    <section class="audio_select">
                        <button id="sound_on" onclick="soundOn()">On</button>
                        <button id="sound_off" onclick="soundOff()">Off</button>
                    </section>
                </section>
                <a class="pixel_border" href="{{ url_for('account_settings') }}" class="settings_button">Account</a>
                <a class="pixel_border" href="{{ url_for('how_to_play') }}" class="settings_button">How to Play</a>
                <a class="pixel_border" href="{{ url_for('attribution') }}" class="settings_button">Attribution</a>

            </section>
        </section>


        <img class="logo" src="{{ url_for('static', filename='bjf logo.png')}}">
        <section class="modes">
            <a class="pixel_border" href="{{ url_for('create') }}">Create Game</a>
            <a class="pixel_border" href="{{ url_for('games') }}">Find Game</a>
            <a class="pixel_border" href="{{ url_for('enter_code') }}">Enter Code</a>
        </section>

    </main>
</body>

</html>