<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <script src="{{ url_for('static', filename='settings.js') }}"></script>
        <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
        <script>
            const playerID = "{{ session['player_id'] }}";
        </script>
        <script src="{{ url_for('static', filename='play.js') }}"></script>
    </head>
    <body>
        <main>
            <canvas height="695" width="1536"></canvas>
            <a id="hit"><span>HIT</span></a>
            <a id="stand"><span>STAND</span></a>
            <section id="side">
                <section id="sideContent">
                    <p>Game ID: <b id="gameId"></b></p>

                    <p>Game status: <b id="connectionStatus">Disconnected</b></p>
                    <p>Game mode: <b>{{ game_mode }}</b></p>
                    <p>Round number: <b id="roundNum"></b></p>

                    <input id="messageInput" type="text" placeholder="Enter your message">
                    <button id="sendButton" disabled>Send</button>

                    <section id="messages">
                        {% for message in messages %}
                            {% if message[1] %}
                                <p>{{message[1][1:]}}: {{message[2]}}</p>
                            {% else %}
                                <p><i>{{message[2]}}</i></p>
                            {% endif %}
                        {% endfor %}
                    </section>
                </section>
            </section>
        </main>

        
    </body>
</html>