<!-- I have created a bare-bones version of this page so that I can test that the WebSockets work. 
    Feel free to change anything and everything about how it looks and how it is laid out. - Jack -->
<!-- For the moment, this page does not use the base.html template since it needs to include scripts in the <head> tag.
    This can be improved later. -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='play.js') }}"></script>
    </head>
    <body>
        <header class ="header">
            
            
            <nav class = "nav_bar">
            <a href="{{ url_for('log_in') }}">Log In</a>
            <a href="{{ url_for('sign_up') }}">Sign Up</a>
            <a href="{{ url_for('main') }}">Settings</a>
            </nav>
        </header>

        <main class = "base_content">
            <p>Game status: <b id="connectionStatus">Disconnected</b></p>

            <input id="messageInput" type="text" placeholder="Enter your message">
            <button id="sendButton" disabled>Send</button>

            <section id="messages">
                {% for message in messages %}
                    <p>
                        {{message[1][1:]}}: {{message[2]}}
                    </p>
                {% endfor %}
            </section>
        </main>
    </body>
</html>