html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
canvas{
    position: fixed;
    background-image: url("bjf\ bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#hit, 
#stand,
#home {
    position: fixed;
    width: 190px;
    height: 70px;
    bottom: 20px;
  
    background-color: red;
    font-family: pixelated;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: yellow;

    border: 8px solid transparent;
    display: none;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
#hit{
    left: 32%;
}
#stand{
    right: 32%;
}
#home {
    left: 35%;
    bottom: 150px;
}
#side {
    position: fixed;
    background-color: grey;
    height: 100vh;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}
#sideContent, #messages {
    padding-left: 15px;
}
#messages {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

#hit,
#hit--wrapper, 
#stand,
#stand--wrapper,
#home,
#home--wrapper{
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
}
#hit--wrapper, 
#stand--wrapper,
#home--wrapper {
  width: fit-content;
  height: fit-content;
}
#hit--wrapper #hit,
#stand--wrapper #stand,
#home--wrapper #home{
  display: block;
  clip-path: polygon(8px 24px,
    12px 24px,
    12px 16px,
    16px 16px,
    16px 12px,
    24px 12px,
    24px 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 12px,
    calc(100% - 16px) 12px,
    calc(100% - 16px) 16px,
    calc(100% - 12px) 16px,
    calc(100% - 12px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 12px),
    16px calc(100% - 12px),
    16px calc(100% - 16px),
    12px calc(100% - 16px),
    12px calc(100% - 24px),
    8px calc(100% - 24px));
}
#hit::after,
#hit--wrapper::after,
#stand::after,
#stand--wrapper::after,
#home::after,
#home--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    8px 50%,
    8px 24px,
    12px 24px,
    12px 16px,
    16px 16px,
    16px 12px,
    24px 12px,
    24px 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 12px,
    calc(100% - 16px) 12px,
    calc(100% - 16px) 16px,
    calc(100% - 12px) 16px,
    calc(100% - 12px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 12px),
    16px calc(100% - 12px),
    16px calc(100% - 16px),
    12px calc(100% - 16px),
    12px calc(100% - 24px),
    8px calc(100% - 24px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
#hit::after,
#stand::after,
#home::after {
  margin: -8px;
}

@font-face {
    font-family: pixelated;
    src: url(pixel_font.ttf);
}

#hit span,
#stand span,
#home span {
    position: relative;
    top: 4px;
}



#side {
  font-family: pixelated;
}

.game_header{display: flex; gap:10px}
.game_header p{color:yellow}
.game_header p:first-child{color: white; text-shadow: 1px 1px black;padding-left:15px;font-weight: bold;}
.game_header p{margin:0.5em 0}



#messages{color:yellow; border-style: solid none;border-bottom: 3px;border-top: 3px;}

#side_navbar{
  display: flex;
  justify-content: space-between;
  margin:0.5em 1em;
  margin-bottom:0;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

#side_navbar img{
  height: 25px;
  width: 25px;
  
}
#side_navbar img:hover{
  filter:brightness(80%)
}
#side_navbar a{
  margin: auto 0;
}
#side{background-color: #252525;border-left-style:solid}
#sideContent{background-color: #a70303;border-bottom-style: solid;}

#send_msg{
  display: flex;
  margin: 0 auto;
margin-top: 2em;
margin-bottom: 2em;
 gap:10px;
height: 30px;
}
#send_msg input{
  padding: 0.5em;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  font-size: 1.1rem;
  text-align: center;
  font-family: pixelated;
  border-radius: 5px;
}
#send_msg #sendButton {width: 20%;border-color: black;
  border-style: solid;
  border-width: 2px;background-color: yellow;font-family:pixelated;border-radius:5px;padding-top:0.2em}

#settings_box {
    z-index: 9100;
    position:fixed;
    inset: 0;
    display: None;

    width:100%;
    justify-content: center;
    text-align:center;

    /* top: 20%; */
    margin: auto;
    backdrop-filter: blur(5px);
}
#settings_content>h2{
  margin-bottom: 0;
}
#settings_content {
    top:20%;
    height: auto;
    z-index:9000;
    display: flex;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 0, 0, 0.8);

    width: 30%;
    padding-bottom: 2em;
    
    flex-direction: column;

    border-style: solid;
  
    border-color: black;
    
    color: yellow;
    font-family: pixelated,Arial, Helvetica, sans-serif;
}   

#settings_content>a {
    padding: 0.5em;
    margin: 1em;
    text-align: center;
    font-size: 1.5em;

    border-style: solid;
  
    border-color: black;
    color: black;
    background-color: yellow;
    transition:filter 0.3 ease;
}

#settings_content>a:hover{
    filter: brightness(95%);
}

#settings_content .audio{
    display: flex;
    gap:10px;
    margin: 1em;
    background-color: yellow;
    font-size: 1.5em;
    color: black;
    padding: 0.5em;
    text-align: center;
    
}
.audio img{
    height: 26px;
    width: 26px;
   
    
}

.audio p{margin: 0;padding-top: 0.1em;}
#settings_content .audio_select {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    gap: 15%;
    

}

.audio button{
  filter:brightness(90%);
  font-weight: bold;font-size: 1rem;
  color:black;transition: ease-in;cursor: pointer;font-family: pixelated;padding-top:0.3em;width: 25%; border-color: black;border-style: solid; border-radius: 10px;background-color: rgb(45, 115, 245);}



.audio button:hover{filter:brightness(80%);}

.audio button.active{
  filter: brightness(100%);
  color:yellow;
}


.audio_label {
  display: flex;
  min-width: 110px;
  gap:10px

}

#close_settings,#close_edit{ transition: filter 0.1s ease;position:absolute;width: 40px;height: 40px; top:13px;right:16px;cursor:pointer}
#close_settings:hover,#close_edit:hover{filter:brightness(95%)}
#settings_content{position:fixed}





.pixel_border,
.pixel_border--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
}
.pixel_border {
  border: 4px solid transparent;
}
.pixel_border--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel_border--wrapper .pixel_border {
  display: block;
  clip-path: polygon(4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px));
}
.pixel_border::after,
.pixel_border--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    4px 50%,
    4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel_border::after {
  margin: -4px;
}