canvas{
    /*border: 5px solid black;*/
    background-image: url("bjf\ bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#hit{
    display: none;
    position: fixed;
    width: 201px;
    bottom: 30px;
    left: 500px;
}
#stand{
    display: none;
    position: fixed;
    width: 201px;
    bottom: 30px;
    right: 500px;
}
#side {
    position: fixed;
    top: 0;
    right: 0;
    width: 270px;
    margin-top: 10px;
    z-index: 1;
}