.logo >img{
    height:260px;
    display:block;
    margin-left: auto;
    margin-right:auto;
    margin-top:5rem;
}
@font-face {
    font-family: pixelated;
    src: url(pixel_font.ttf);
}

body{
    margin:0;
    background-color: green; 
    background-image: url('bjf bg.jpg');
    background-size: cover;
}

header .reg_nav{
    background: red;
    color:yellow;
    text-decoration:none;
    
    padding:0.3em 0.5em;
    margin-left:2rem;
    margin-right:0.5rem;

    border-style: solid;
    border-color:black;
    border-radius:2em;
    

    font-weight: bold;
    font-size: 1.5rem;
    font-family: pixelated,Arial, Helvetica, sans-serif;    
}

.nav_bar {  
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.modes{
     margin-top: 2rem;
     flex-direction: column;
    display: flex;
    gap: 1rem;
    align-items: center;  
}

.modes a {
    background: red;
    text-align: center;
    width:12em;
    text-decoration: none;
    color:yellow;
    font-family: pixelated,Arial, Helvetica, sans-serif;border-style: solid; padding:0.3em;
    font-size: 1.8rem;border-color:black;border-radius:2em;border-width:0.15em;font-weight: bold;
}

#signup>h1{
    text-align: center;
    color:white;
    font-family: pixelated,Arial, Helvetica, sans-serif;
}

#registration,#game_creation {
    text-align: center;
    width:40em;
    padding-bottom: 10em;
    padding-top:6em;
    padding-left:4em;
    padding-right: 4em;
    box-sizing: border-box;
    margin-top:2em;
    margin: 6em auto;
    margin-top:2em;
    display: flex;
    flex-direction: column;

    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    background-color: white;
    font-family: pixelated,Arial, Helvetica, sans-serif;
}



#settings_box {
    z-index: 9100;
    position:absolute;
    display: None;

    width:100%;
    justify-content: center;
    text-align:center;

    top: 5em;
    margin: auto;
}

#settings_content {
    display: flex;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 0, 0, 0.8);

    width: 30%;
    height: 500px;
    
    flex-direction: column;

    border-style: solid;
    border-radius: 2em;
    border-width: 0.25em;
    border-color: black;
    
    color: yellow;
    font-family: pixelated,Arial, Helvetica, sans-serif;
}   


#settings_content > p,#settings_content>a {
    padding: 0.5em;
    margin: 1em;
    text-align: left;
    font-size: 1.5em;

    border-style: solid;
    border-radius: 2em;
    border-color: black;
    color: black;
    background-color: yellow
}

#settings_content>a{text-align: center;
color: black;}


#account_name{
    padding: 0.3em 0.3em 0.3em 2em;

    font-size: 1.5rem;
    font-weight: bold;
    font-family: pixelated, Arial, Helvetica, sans-serif;

    background: red;
    color:yellow;
    text-decoration:none;
    
    
    border-style: solid;
    border-radius:2em;
    border-width:0.15em;
    border-color:black;

    margin: 0 0 auto 0.7rem;
    z-index: 1;
   }

#account_img {
    height:48px;
    width:48px;
    border-radius: 50%;
    position:absolute;
    top:-2.7px;
    left:6px;
    z-index: 2;
    border-style:solid;
}

#account_button {
    position:relative;
    
}

#games_list{
 
    display: flex;
    flex-direction: column;
    column-gap: 6em;
    gap:1.3em;
    overflow:auto;
    height:470px;
    font-size: 1.3em;
    font-weight: bold;
    
    
}
.game_entry{
    display: flex;
    /* display: none; */
    justify-content: center;
    text-align: center;
    align-items: center;
    color:yellow;
    gap:3em;
    background-color: red;
    border-style: solid;
    border-color:white;
    border-radius:3px;
    padding:auto;
    font-family: pixelated,Arial, Helvetica, sans-serif;
}

.game_entry>a{
    text-decoration: none;
    color:yellow;
}

#game_title{
    text-align: center;
    color: yellow;
    font-family: pixelated,Arial, Helvetica, sans-serif;
}

#game_search{
    display: flex;
    text-align: center;
    align-items: center;
    gap:1em;
    margin-left:25%;
    margin-right:25%;
    margin-bottom: 1%;
    color:yellow;
    font-family: pixelated,Arial, Helvetica, sans-serif;
}

#game_search>*{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    
}

#game_search>a{
margin-left:auto;
color:yellow}

#games_box {
    background-color: rgba(255, 255, 255, 0.8);
    padding:2em;
    margin-left:25%;
    margin-right:25%
}

#home_button{margin-right:auto;}

.invite {
    padding: 1em;
    border-style: solid;
    border-color:black;
    border-radius:3px;
}

.invite > p {
    font-size: 0.8em;
}



#account_settings{text-align:center;color:yellow; width:38%; font-family: pixelated;
    margin:auto;}
#profile_settings{
   
    position:relative;
    display: flex;
    align-items: center;
    color:yellow;
    flex-direction: column;
    background-color: red;
    gap:1em;
    padding: 2em 2em 5em 2em;
    font-size: 1.2rem;
    border-style: solid;
    border-color:black;
}


#change{font-size: 0.8em;}

.buttons{display: flex; gap:10em; justify-content: center;width:50%;margin-top:2em;}

#settings_list{font-size:1.2rem;display: flex;flex-direction: column;position:absolute;left:-220px;background-color: rgba(255, 255, 255, 0.8);border-radius:3px;padding:2em;gap:2em;}

#account_button{
    text-decoration: none;
    border-color: black;
    color:black;
}

#profile_img{
    height:100px;
    width:100px;
    
    border-radius:50%
}

#account_settings h2{
    font-size: 1.3em;

}

#edit_picture{
    /* text-decoration: none; */
    color:yellow
}


#change_picture_box {
    position:absolute;
    display: None;

    width:100%;
    height:100%;

    justify-content: center;
    text-align:center;

    top: 5em;
    margin: auto;
    backdrop-filter: blur(10px);
    z-index:9000;
}

#change_picture {
    display: flex;

    
    background-color: rgba(255, 0, 0, 0.8);
    
    width: 50%;
    height: 70%;
    
    flex-direction: column;

    border-style: solid;
    border-radius: 2em;
    border-width: 0.25em;
    border-color: black;
    
    color: yellow;
    font-family: pixelated, Arial, Helvetica, sans-serif;
}   




#picture_selection{
  margin:0 5em;
  display: flex;
  gap:2em;
  justify-content: center;
  width:80%;
  overflow: auto;
  flex-direction: row;
}
#picture_selection img{

  height: 80px;
  width: 80px;
  border-radius: 0;
}

#picture_selection_box{
  width:80%;
  margin:2em auto;
}





#game_creation,
#game_creation--wrapper ,
#profile_settings,.reg_nav,
.reg_nav--wrapper,
#profile_settings--wrapper,#settings_content,#settings_content p,#settings_content p--wrapper,#change_picture,#change_picture--wrapper,
#settings_content--wrapper,#account_name,
#account_name--wrapper  {
  z-index:1;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
}
#game_creation ,.reg_nav ,#profile_settings,#settings_content,#settings_content p,#change_picture,#account_name{
  border: 4px solid transparent;
}
#game_creation--wrapper ,.reg_nav--wrapper,#profile_settings--wrapper ,#settings_content--wrapper,#settings_content p--wrapper,#change_picture--wrapper,#account_name--wrapper {
  width: fit-content;
  height: fit-content;
}
#game_creation--wrapper #game_creation ,.reg_nav--wrapper .reg_nav ,#profile_settings--wrapper #profile_settings,#account_name--wrapper #account_name ,#settings_content--wrapper #settings_content,#settings_content p--wrapper #settings_content p, #change_picture--wrapper #change_picture {
  display: block;
  clip-path: polygon(4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px));
}
#game_creation::after,
#game_creation--wrapper::after,
.reg_nav::after,
.reg_nav--wrapper::after,
#account_name::after,#profile_settings::after,
#profile_settings--wrapper::after,
#account_name--wrapper::after ,#settings_content::after,#settings_content p::after,#settings_content p--wrapper::after,
#settings_content--wrapper::after, #change_picture::after,#change_picture--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    4px 50%,
    4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
#game_creation::after,.reg_nav::after,#profile_settings::after,#account_name::after,#settings_content::after,#settings_content p::after ,#change_picture::after{
  margin: -4px;
}

#game_creation{color:yellow;background-color: red;}